# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <div class="pull-right">
      <a class="btn btn-default" href="{{url_for('transaction_update')}}" title="Add Transaction">
        <span class="fa fa-plus fa-fw"></span>
      </a>
      <a class="btn btn-primary" href="{{url_for('transaction_update', transaction_id=transaction_db.key.id())}}">
        <span class="fa fa-fw fa-pencil"></span> Edit
      </a>
    </div>
    <h1>
      {{utils.back_link('Back', 'transaction_list')}}
      {{title}}
    </h1>
  </div>
  <div class="row">

    # set spent_currency = transaction_db.spent_currency_key.get().code
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th class="text-nowrap col-xs-1">{{_('Date')}}</th>
            <td class="col-xs-11">{{transaction_db.date.strftime('%d %b %Y')}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">{{_('Spent Amount')}}</th>
            <td class="col-xs-11">{{utils.currency(transaction_db.spent, spent_currency)}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">{{_('Aquired Amount')}}</th>
            <td class="col-xs-11">{{utils.currency(transaction_db.aquired, transaction_db.aquired_currency_key.get().code)}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">{{_('Aquired Rate')}}</th>
            <td class="col-xs-11">{{utils.currency(transaction_db.aquired_rate, spent_currency)}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">{{_('Profit')}}</th>
            <td class="col-xs-11">{{utils.currency(transaction_db.profit, spent_currency)}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">{{_('Total')}}</th>
            <td class="col-xs-11">{{utils.currency(transaction_db.total, spent_currency)}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">{{_('Notes')}}</th>
            <td class="col-xs-11">{{transaction_db.notes}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">{{_('Platform')}}</th>
            <td class="col-xs-11">{{transaction_db.platform}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
# endblock
