<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{{_('Toggle navigation')}}</span>
        <span class="icon-bar"></span>
      <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('welcome')}}">{{config.CONFIG_DB.brand_name}}</a>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{'active' if html_class == 'transaction-list'}}">
          <a href="{{url_for('welcome')}}"><span class="fa fa-fw fa-arrows-h"></span> Transactions</a>
        </li>
        <li class="{{'active' if html_class == 'price-list'}}">
          # set user_currency_db = current_user.user_db.currency_key.get() if current_user.user_db.currency_key else None
          <a href="{{url_for('exchange', code=user_currency_db.code if user_currency_db else None)}}"><span class="fa fa-fw fa-bitcoin"></span> {{_('Exchange')}}</a>
        </li>
        # include 'bit/contact_menu.html'
      </ul>
      <ul class="nav navbar-nav navbar-right">
        # include 'bit/currency.html'
        # include 'bit/locale.html'
        # include 'bit/user_menu.html'
      </ul>
    </nav>
  </div>
</header>
