# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
    <p class="lead">
      <a href="{{url_for('exchange')}}"><span class="label {{'label-info' if not code else 'label-warning'}}">
        {{_('All')}}
      </span></a> &nbsp;
      # for currency_db in currency_dbs
        # if last_currency_db and last_currency_db.is_crypto != currency_db.is_crypto
          <br>
        # endif
        <a href="{{url_for('exchange', code=currency_db.code)}}"><span class="label {{'label-info' if code == currency_db.code  else 'label-default'}}">
          {{utils.currency_icon(currency_db.code)}} {{currency_db.name}} <small>({{currency_db.code}})</small>
        </span></a> &nbsp;
        # set last_currency_db = currency_db
      # endfor
    </p>
  </div>
  <div class="table-responsive {{'hide' if not price_dbs|count}}">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-4 text-center">{{utils.order_by_link('currency_from_name', _('From'))}}</th>
          <th class="col-xs-4 text-center">{{utils.order_by_link('currency_to_name', _('To'))}}</th>
          <th class="text-center"></th>
          <th class="col-xs-2 text-center">{{utils.order_by_link('amount', _('Amount'))}}</th>
          <th class="col-xs-2 text-center">{{utils.order_by_link('amount_open_percentage', _('Daily change'))}}</th>
        </tr>
      </thead>
      <tbody>
        # set user_currency_db = current_user.user_db.currency_key.get() if current_user.user_db.currency_key else None
        # for price_db in price_dbs
          # set currency_from_db = price_db.currency_from_key.get()
          # set currency_to_db = price_db.currency_to_key.get()
          <tr class="{{'text-strong' if user_currency_db and user_currency_db.code in price_db.code and code != user_currency_db.code}}">
            <td class="{{'text-strong' if code == currency_from_db.code}}">
              {{currency_from_db.name}}
              <small class="text-muted">({{currency_from_db.code}})</small>
            </td>
            <td class="{{'text-strong' if code == currency_to_db.code}}">
              {{currency_to_db.name}}
              <small class="text-muted">({{currency_to_db.code}})</small>
            </td>
            <td class="text-center">{{currency_from_db.code}}/{{currency_to_db.code}}</td>
            <td class="text-right">{{utils.currency(price_db.amount, currency_to_db.code)}}</td>
            <td class="text-right text-nowrap {{'text-success' if price_db.amount_open_percentage >= 0 else 'text-danger'}}">
              {{'{:,.2f}'.format(price_db.amount_open_percentage)}}%
              {{utils.rate_arrow(price_db.amount_open_percentage)}}
            </td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>
  <p class="text-muted text-right">
    {{_('All data is fetched from ')}} <a href="https://cryptocompare.com">CryptoCompare</a>.
    # if price_dbs
      <br>{{_('Last updated')}}
      <time datetime="{{price_dbs[0].modified}}">{{price_dbs[0].modified.strftime('%Y-%m-%d')}}</time>.
    # endif
  </p>

  {{utils.next_link(next_url)}}
# endblock
