# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  # if current_user.id == 0
    <div class="jumbotron">
      <div class="container text-center">
        <h1>{{config.CONFIG_DB.brand_name}}</h1>
        <p>{{_(config.OG_DESCRIPTION)}}</p>

        <a href="{{url_for('signin')}}" class="btn btn-lg btn-success">
          <span class="fa fa-fw fa-sign-in"></span> {{_('Sign in')}}
        </a>
      </div>
    </div>
  # endif
# endblock


# block content
  # set user_currency_db = current_user.user_db.currency_key.get() if current_user.user_db.currency_key else None
  # if current_user.id > 0
    # if transaction_dbs
      # set profit_user_percentage = (total_profit / (total_net_worth - total_profit)) * 100 if (total_net_worth - total_profit) != 0 else 0
      <div class="row text-center">
        <div class="col-sm-4">
          <h5>&nbsp;</h5>
          <h2 class="text-{{utils.rate_class(profit_user_percentage)}}">
            {{'+' if profit_user_percentage > 0}}{{'{:,.1f}'.format(profit_user_percentage)}}%
          </h2>
        </div>
        <div class="col-sm-4">
          <h5>{{_('Profit')}}</h5>
          <h2 class="text-{{utils.rate_class(profit_user_percentage)}}">{{utils.currency(total_profit, user_currency_db.code)}}</h2>
        </div>
        <div class="col-sm-4">
          <h5>{{_('Net worth')}}</h5>
          <h2 class="text-{{utils.rate_class(profit_user_percentage)}}">{{utils.currency(total_net_worth, user_currency_db.code)}}</h2>
        </div>
      </div>
      <hr>
    # endif

    # if price_dbs
      <div class="text-center">
        # for price_db in price_dbs
          <span class="current-rate well well-sm text-nowrap crypto-border-{{utils.rate_class(price_db.amount_open_percentage)}}">
            <span class="text-{{utils.rate_class(price_db.amount_open_percentage)}}">
              {{'+' if price_db.amount_open_percentage > 0}}{{'{:,.1f}'.format(price_db.amount_open_percentage)}}%
            </span>
            <span class="current-rate-code">
              {{price_db.code[:price_db.code.find(':')]}}
              / {{price_db.code[price_db.code.find(':') + 1:]}}:
            </span>
            <span class="current-rate-amount">{{utils.currency(price_db.amount, '')}}</span>
          </span>&nbsp;<br class="visible-xs">
        # endfor
        <br>
        <span class="text-muted">
          {{_('Last updated')}}
          <time datetime="{{price_dbs[0].modified}}">{{price_dbs[0].modified.strftime('%Y-%m-%d')}}</time>.
        </span>
      </div>

      <hr class="break">
    # endif

    <p class="text-center">
      <a class="btn btn-primary" href="{{url_for('transaction_update')}}">
        <fa class="fa fa-plus fa-fw"></fa> {{_('Add Investment')}}
      </a>
    </p>
    <div class="row">
      # for transaction_db in transaction_dbs
        <div class="col-sm-6 col-md-4">
          # set spent_currency_db = transaction_db.spent_currency_key.get()
          # set acquired_currency_db = transaction_db.acquired_currency_key.get()
          <div class="panel panel-{{utils.rate_class(transaction_db.net_worth - transaction_db.spent_amount)}}">
            <div class="panel-heading">
              <div class="panel-title text-nowrap">
                <div class="row">
                  <div class="col-xs-6">
                    {{utils.currency_icon(acquired_currency_db.code)}}
                    {{acquired_currency_db.name}}
                    <br>
                    <span class="lead">{{utils.currency(transaction_db.net_worth_user, user_currency_db.code)}}</span>
                  </div>
                  <div class="col-xs-6 text-right">
                    {{'+' if transaction_db.profit_percentage > 0}}{{'{:,.1f}'.format(transaction_db.profit_percentage)}}%
                    <br>
                    <small>{{utils.currency(transaction_db.acquired, acquired_currency_db.code)}}</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-body text-nowrap">
              <div class="text-muted">
                <span class="pull-right">{{utils.currency(transaction_db.acquired_rate, spent_currency_db.code)}}</span>
                {{_('Investment price')}}
              </div>
              <div>
                <span class="pull-right">{{utils.currency(transaction_db.current_rate, spent_currency_db.code)}}</span>
                {{_('Current price')}}
              </div>
              <hr>
              <div class="text-muted">
                <span class="pull-right">{{utils.currency(transaction_db.spent, spent_currency_db.code)}}</span>
                {{_('Spent')}}
              </div>
              <div>
                <span class="pull-right">{{utils.currency(transaction_db.profit_amount, spent_currency_db.code)}}</span>
                {{_('Profit') if transaction_db.profit_amount >=0 else _('Loss')}}
              </div>
              <div>
                <strong>
                  <span class="pull-right">{{utils.currency(transaction_db.net_worth, spent_currency_db.code)}}</span>
                  {{_('Net worth')}}
                </strong>
              </div>
            </div>
            <div class="panel-footer">
              <a href="{{url_for('transaction_update', transaction_id=transaction_db.key.id())}}"><span class="fa fa-fw fa-pencil"></span> {{_('Edit')}}</a>
            </div>
          </div>
        </div>
      # endfor
    </div>
  # else
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <img src="/p/img/front-page.png?{{config.CURRENT_VERSION_ID}}" alt="Application screenshot" class="img-thumbnail">
      </div>
    </div>
  # endif
# endblock
