# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron">
    <div class="container text-center">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>Hello, crypto-world!</p>
    </div>
  </div>
# endblock

# block content
  # if current_user.id > 0
  <div class="page-header">
      <a class="pull-right btn btn-primary" href="{{url_for('transaction_update')}}">
        <fa class="fa fa-plus fa-fw"></fa> Add Transaction
      </a>
      <h1>{{_('My Transactions')}}</h1>
    </div>

    <div class="table-responsive {{'hide' if not transaction_dbs|count}}">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="text-nowrap">
            <th class="col-xs-2">{{utils.order_by_link('date', _('Date'))}}</th>
            <th class="col-xs-2 text-right">{{utils.order_by_link('spent_amount', _('Spent'))}}</th>
            <th class="col-xs-2 text-right">{{utils.order_by_link('aquired_amount', _('Aquired'))}}</th>
            <th class="col-xs-2 text-right">{{utils.order_by_link('rate', _('Rate'))}}</th>
            <th class="col-xs-3">{{utils.order_by_link('notes', _('Notes'))}}</th>
            <th class="col-xs-3">{{utils.order_by_link('platform', _('Platform'))}}</th>
          </tr>
        </thead>
        <tbody>
          # for transaction_db in transaction_dbs
            <tr class="row-link" id="{{transaction_db.key.urlsafe()}}" data-href="{{url_for('transaction_view', transaction_id=transaction_db.key.id())}}">
              <td>{{transaction_db.date}}</td>
              <td class="text-right text-nowrap">{{transaction_db.spent}}</td>
              <td class="text-right text-nowrap">{{transaction_db.aquired}}</td>
              <td class="text-right text-nowrap">{{transaction_db.rate}}</td>
              <td>{{transaction_db.notes}}</td>
              <td>{{transaction_db.platform}}</td>
            </tr>
          # endfor
        </tbody>
      </table>
    </div>

    {{utils.next_link(next_url)}}
  # endif
# endblock
